#news {
  display: flex;
  justify-content: space-around;
  margin-right: 0;
  margin-left: 0;

  .col-sm-5:nth-last-child(-n+2) {
    margin: 0 0 150px 0;
  }
}

.card {
  margin: 30px 0 0 0;
}

.link {
  vertical-align: middle;
}

#navbarNavAltMarkup {
  display: flex;
  justify-content: center;
}

.select-country {
  margin: 0 auto;
}
#errorPopup {
  display: block;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  text-align: center;

  p {
    margin:  8px 0 4px 0;
  }
  p:last-child {
    margin: 4px 0 8px 0 ;
  }
}

